{% extends 'base.html.twig' %}

{% block title %}
Accueil - {{parent()}}
{% endblock %}

{% block body %}
<h1>Bienvenue sur le DevBlog!</h1>
<p>Votre source d'actualités et de tutoriels sur le développement web.</p>
{% for article in articles %}
{% include "partials/_card.html.twig" %}
{% endfor %}
{% endblock %}